.Rproj.user
.Rhistory
.RData
.Ruserdata
.xls
.txt

README\.html

data/

\.DS_Store

output/20180330_exp5/

output/20180517_exp7/

output/20180530_exp9/

analysis_20180330_exp5\.R

analysis_20180517_exp7\.R

analysis_20180530_exp9\.R

analysis_multiExperiment\.R

analysis_20180118_exp1\.R

analysis_20180214_exp2_ahcf-thy1\.R

analysis_20180214_exp2_ahcf\.R

output/20180118_exp1/

output/20180214_exp2_ahcf/

output/20180214_exp2_ahcf-thy1/
